<!DOCTYPE html>
<html>
  <head>
    <% utf8_charset %>
    <title><%="Kindmetrics - #{page_title}"%></title>
    <% css_link asset("css/app.css"), data_turbolinks_track: "reload" %>
    <% js_link asset("js/app.js"), defer: "true", data_turbolinks_track: "reload" %>
    <% unless current_user %>
    <script src="//<%=Lucky::Env.production? ? KindEnv.env("APP_TRACK_HOST") : "localhost:5000" %>/js/track.js" async defer data-domain="<%=KindEnv.env("KIND_HOST") || KindEnv.env("APP_HOST")%>" data-turbolinks-track="reload"></script>
    <% end %>
    <% meta name: "turbolinks-cache-control", content: "no-cache" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <% csrf_meta_tags %>
    <% responsive_meta_tag %>
  </head>

  <body>
    <%
    if domain
      m InloggedHead, current_user, domain.not_nil!, domains
    else
      m InloggedHead, current_user, nil, domains
    end
    %>
    <% m Shared::FlashMessages, context.flash %>
    <% content %>
  </body>
</html>
