<!DOCTYPE html>
<html>
  <head>
    <% utf8_charset %>
    <title><%="Kindmetrics - #{page_title}"%></title>
    <% css_link asset("css/app.css"), data_turbolinks_track: "reload" %>
    <% js_link asset("js/app.js"), defer: "true", data_turbolinks_track: "reload" %>
    <script src="//<%=Lucky::Env.production? ? "app.kindmetrics.io" : "localhost:5000" %>/js/track.js" defer="true" data-domain="kindmetrics.io" data-turbolinks-track="reload"></script>
    <% meta name: "turbolinks-cache-control", content: "no-cache" %>
    <% csrf_meta_tags %>
    <% responsive_meta_tag %>
  </head>

  <body>
    <div class="flex-container">
      <div class="max-w-2xl mx-auto flex-grow lg:w-2/5 md:w-3/5  sm:w-4/5 px-2 pt-4 lg:pt-20 md:pt-20">
        <h1 class="text-center text-2xl mb-5">Kindmetrics</h1>
        <% mount Shared::FlashMessages.new(context.flash) %>
        <% content %>
      </div>
    </div>
  </body>
</html>
