<!DOCTYPE html>
<html>
  <head>
    <% utf8_charset %>
    <title><%="Kindmetrics - #{page_title}"%></title>
    <% css_link asset("css/app.css"), data_turbolinks_track: "reload" %>
    <% js_link asset("js/app.js"), defer: "true", data_turbolinks_track: "reload" %>
    <script src="//<%=Lucky::Env.production? ? "kindmetrics.io" : "localhost:5000" %>/js/track.js" defer="true" data-domain="kindmetrics.io" data-turbolinks-track="reload"></script>
    <% meta name: "turbolinks-cache-control", content: "no-cache" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% csrf_meta_tags %>
    <% responsive_meta_tag %>
  </head>

  <body class="gradient-color">
    <% mount InloggedHead.new(current_user) %>
    <div class="max-w-6xl mx-auto py-6 sm:px-6 lg:px-8">
      <% mount Shared::FlashMessages.new(context.flash) %>
      <% content %>
    </div>
  </body>
</html>
