<!DOCTYPE html>
<html>
  <head>
    <% utf8_charset %>
    <title><%="Kindmetrics - #{page_title}"%></title>
    <% css_link asset("css/app.css"), data_turbolinks_track: "reload" %>
    <% js_link asset("js/app.js"), defer: "true", data_turbolinks_track: "reload" %>
    <script src="//<%=Lucky::Env.production? ? "kindmetrics.io" : "localhost:5000" %>/js/track.js" defer="true" data-domain="kindmetrics.io" data-turbolinks-track="reload"></script>
    <% meta name: "turbolinks-cache-control", content: "no-cache" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% csrf_meta_tags %>
    <% responsive_meta_tag %>
    <link rel="canonical" href="https://kindmetrics.io/" />
    <meta property="og:title" content="Kindmetrics" />
    <meta name="description" content="Kindmetrics is a strictly privacy focused web analytics tool. All data is owned by you and privacy of both you and your visitors are respected." />
    <meta property="og:description" content="Kindmetrics is a strictly privacy focused web analytics tool. All data is owned by you and privacy of both you and your visitors are respected." />
    <meta property="og:url" content="https://kindmetrics.io/" />
    <meta property="og:site_name" content="Kindmetrics" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="https://kindmetrics.io/assets/images/promo.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="https://kindmetrics.io/assets/images/promo.jpg" />
    <meta property="twitter:title" content="Kindmetrics" />
    <meta name="twitter:site" content="@kindmetrics" />
  </head>

  <body>
    <% mount SiteHead.new %>
    <div class="max-w-3xl mx-auto py-6 sm:px-6 lg:px-8">
      <% mount Shared::FlashMessages.new(context.flash) %>
      <% content %>
    </div>
    <% mount Footer.new %>
  </body>
</html>
