Hi,

It is now three days left on your Kindmetrics trial.

I hope you tried everything you want, and please contact Kindmetrics if you have any questions or feedback.

To continue using your account after three days, you have to upgrade your account. You can go to the link below and easily do it.
https://app.kindmetrics.io/me/billing

I hope you love Kindmetrics as I do. Please reply to this email if you want to ask any questions or have feedback.

Thank you,
Håkan
Kindmetrics
