<div class="flex justify-between text-xs uppercase mt-3 transister">
  <span>Device</span>
  <span>Percentage</span>
</div>
  <% @devices.each do |r| %>
  <% mount BaseEventComponent.new(name: r.device, percentage: r.percentage) %>
  <% end %>
</div>
