<div class="transister">
<div class="flex justify-between text-xs uppercase mt-3">
  <span>OS</span>
  <span>Percentage</span>
</div>
  <% @os.each do |r| %>
  <% mount BaseEventComponent.new(name: r.operative_system, percentage: r.percentage) %>
  <% end %>
</div>
</div>
