h1 {
  @apply text-5xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
  @apply font-bold;
}

body {
  //background-color: #F8F7FA;
  @apply bg-white;
}

.bg-menu-button {
  background-color: #F5F5F5;
  color: #293241;
  &:hover {
    background-color: #F8F8F8;
  }
}
.hover\:bg-menu-button {
  &:hover {
    background-color: #F5F5F5;
  }
}

.gradient-color {
  //background-color: #2B5AA8;
  //;
  //@apply bg-white;
  //@apply shadow-md;
}

.bg-button {
  background-color: #eceff1;
}

.stats-bg {
  background-color: #222831;
}

.flex-container {
  min-height: calc(100vh - 136px);
}

.transister {
  transition: ease background 0.2s;
}

.transister-menu {
  transition: border-color .2s ease-in, color .2s ease-in;
}

.blue-numbers {
  color: #0064FF;
}

.card {
  @apply rounded-md;
  @apply relative;
  @apply h-full;
  @apply bg-white;
  @apply text-black;
  @apply border;
  @apply border-gray-200;
  @apply p-4;

  a {
    @apply text-black;
  }
}
.mini-card {
  @apply rounded-md;
  @apply border;
  @apply border-gray-200;
  @apply px-2;
  @apply py-1;
}
@media (min-width: 768px) {
  .md\:sb-pl {
    padding-left: 20rem !important;
  }
}

.big_letters {
  @apply w-full;
  @apply mb-4;
  @apply text-gray-900;
  @apply p-1;
}

.poper {
  //margin-top: -10rem;
}

.progress_bar {
  @apply bg-blue-100;
  @apply rounded;
}
.label {
  @apply block;
  @apply uppercase;
  @apply tracking-wide;
  @apply text-gray-700;
  @apply text-xs;
  @apply font-bold;
  @apply mt-2;
}

.current-counter-container {
  @apply text-gray-900;
  @apply text-sm;
  .current-counter {
    @apply text-sm;
    @apply text-gray-900;
    @apply font-bold;
  }
}
.plan-current {
  @apply bg-blue-100;
}
