a {
  @apply text-blue-600;
}
a:hover {
  @apply underline;
}
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
  @apply font-bold;
}

body {
  @apply bg-gray-100;
}

.nav {
  margin-bottom: -17px !important;
  @apply pb-2;
  @apply bg-white;

  a {
    @apply text-black;
  }
}

.gradient-color {
  //background-color: #E2EDF3;
  @apply bg-white;
  @apply shadow-md;
}

.stats-bg {
  background-color: #222831;
}

.flex-container {
  min-height: calc(100vh - 136px);
}

.transister {
  transition: ease background 0.2s;
}

.transister-menu {
  transition: border-color .2s ease-in;
}

.card {
  @apply rounded-md;
  @apply shadow-md;
  @apply relative;
  @apply h-full;
  @apply bg-white;
  @apply text-black;
  @apply p-4;

  a {
    @apply text-black;
  }
}
.big_letters {
  @apply w-full;
  @apply mb-4;
  @apply text-gray-800;
  @apply p-1;
}

.progress_bar {
  @apply bg-blue-200;
  @apply rounded;
}
.label {
  @apply block;
  @apply uppercase;
  @apply tracking-wide;
  @apply text-gray-700;
  @apply text-xs;
  @apply font-bold;
  @apply mt-2;
}

.current-counter-container {
  @apply text-gray-800;
  @apply text-sm;
  .current-counter {
    @apply text-sm;
    @apply text-gray-800;
    @apply font-bold;
  }
}
