<h1>Thanks for joining Kindmetrics!</h1>
<p>Click on the link below to confirm your account.</p>
<a href="<%= UserConfirmations::Show.url(token: @user.confirmed_token) %>">Click here</a>

<p>If you didn't signup for Kindmetrics, you can ignore this email.</p>
