Thanks for wanna join Kindmetrics!

Click on the link below to confirm your account.

<%= UserConfirmations::Show.url(token: @user.confirmed_token) %>

If you didn't signup for Kindmetrics, you can ignore this email.
