<div class="max-w-3xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class="w-full flex justify-between items-center mb-4">
    <% link "Kindmetrics", to: Home::Index, class: "text-2xl font-sans text-black hover:underline" %>
  </div>
</div>
