Hi,

I want to let you know that your trial of Kindmetrics has ended.

You won't be able to see your website analytics until you upgrade to a plan. The plans start from 7 EUR per month, and it is straightforward to upgrade.

Click on this link to sign in and upgrade your account.
https://app.kindmetrics.io/me/billing

Or go to the user setting in the sidebar on the left after sign in, at the bottom, and click on "billing."

Thank you,
Håkan
Kindmetrics
