Hi,

I want to let you know it is seven days left of your trial.

I hope you got to experience everything Kindmetrics have to offer and that you are pleased with the service.

To continue using Kindmetrics after the trial, you would have to upgrade your account.

Click on this link to sign in and upgrade your account.
https://app.kindmetrics.io/me/billing

Or go to the user setting in the sidebar on the left after sign in, at the bottom, and click on "billing."

Thank you,
Håkan
Kindmetrics
